@import "variable.scss";
@import "mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #3a3a3a;
  text-decoration: none !important;
  border-bottom: none !important;
  &:hover {
    color: #3a3a3a;
  }
}

.btn-text {
  padding: 17px 45px;
  font-size: 18px;
  background: #be3a53;
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  display: inline-block;
  &:hover {
    color: rgb(116, 116, 226);
    cursor: pointer;
  }
}
input.form-submit:hover {
  background-color: #be3a53;
  color: rgb(116, 116, 226) !important;
}
.bt-title {
  color: $color-heading;
  text-transform: $text-uppercase;
}
.bt-heading {
  color: $color-black;
  font-size: 42px;
  font-weight: 600;
  text-transform: $text-capitalize;
}
.bt-content {
  padding: 10px 0px;
  color: $color-body;
  text-align: $text-justify;
  line-height: 1.7rem;
}

.main-content #block-mytheme-content {
  .left {
    display: flex;

    .align-child {
      padding: 5px;
      flex: 1;

      span {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row-reverse;

    .align-child {
      padding: 5px;
      flex: 1;

      span {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  .top {
    .align-child {
      span {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
}
.webform-button--submit {
  border: none;
}
.owl-carousel .owl-dots button.owl-dot {
  background: rgba(0, 0, 0, 0.5);
  color: black;
  margin: 0 10px;
  padding: 7px !important;
  border-radius: 20px;
  &.active {
    background-color: #be3a53;
  }
}
.owl-carousel .owl-nav {
  position: absolute;
  top: -7%;
  right: 0;
  left: 0;
  text-align: center;
  button div {
    position: static;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #808080;
    width: auto;
    padding: 5px 30px;
  }
  button.owl-prev div {
    border-right: 2px solid black;
    line-height: 5px;
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }
  button.owl-next div {
    color: black;
  }
}
