$color-black: black;
$color-white: #fff;
$color-heading: #c5004eeb;
$color-body: lightslategrey;
$nav-font: 18px;
$heading-font: 24px;
$font-bold: bold;
$text-uppercase: uppercase;
$text-capitalize: capitalize;
$text-center: center;
$text-justify: justify;
$hovercolor: #fff;

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
